/Object Oriented Programming/nbproject/private/
/Object Oriented Programming/build/
/ABC Hospital Management System/build/
/ABC Hospital Management System/nbproject/private/
/ABC Hospital Management System/dist/
